---
import '../styles/global.css';

const siteName = 'fun clicker';
const siteUrl = 'https://funclicker.click';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{siteName}</title>
  </head>
  <body>
    <main>
      <h1>{siteName}</h1>
      <p>Domain: <a href={siteUrl}>{siteUrl}</a></p>
    </main>
  </body>
</html>
